**/*.nii.gz
**/*.nii
**/*.mat
**/*.mgh
**/*.rds
.ipynb_checkpoints/
.ipynb_checkpoints/*
data/
gamlss/
random_stuff/
stdout/
.DS_Store
**/*.pt
**/*.pyc
**/*.csv
**/*.rds
.Rproj.user/
*.Rproj
*.RData
.RData
*.swp
.Rhistory
